.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 10px;
}

.searchContainer input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 70%;
}

.searchContainer button {
  padding: 0.5rem 1rem;
  background-color: #06405c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.searchContainer button:hover {
  background-color: #042d40;
}
